/* MAIN PAGE */
* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

html, body {
	height: 100%;
	background-color: black;
}

.main {
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content {
	max-width: 1200px;
	background-color: black;
	border: solid 20px white;
	background-color: #1594A2;
	width: 70%;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
@media only screen and (max-width: 525px) {
	.content {
		width: 100%;
	}
}

/* text content */
.header {
	margin: auto;
	text-align: center;
}
.header > .title {
	color: white;
	margin-bottom: 20px;
	font-size: 30px;
}
.header > .description {
	color: white;
	font-size: 10px;
}

/* grid images */
.images_container {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
.row:before, .row:after {
	content:"";
	display: table;
	clear:both;
}
.row > div {
	float: left;
	min-height: 1px;
	width: 50%;
	padding-top: 50px;
	text-align: center;
}
@media only screen and (max-width: 820px) {
	.row > div {
		width: 100%;
	}
}

/* preview images */
.crop {
	height: 250px;
	position: relative;
}
.image {
	position: absolute;
	transition: all 0.3s ease-out;
	opacity: 0.8;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.image:hover {
	opacity: 1;
}
.image > img {
	max-width: calc(100vw - 80px);
	max-height: calc(100vw - 80px);
}

/* circle image style */
.circle_container > .crop > .image > img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

/* retangle image style */
.retangle_container > .crop > .image > img {
	width: 250px;
	height: 180px;
}

/* square image style */
.square_container > .crop > .image > img {
	width: 250px;
	height: 250px;
}

/* triangle image style */
.triangle_container > .wrap {
	padding-left: calc(30vw - 300px);
	overflow: hidden;
}
.triangle_container > .wrap > .crop {
	position: relative;
	overflow: hidden;
	transform: rotate(45deg) skew(10deg,10deg);
	width: 250px;
	height: 250px;
	margin: 100px 0 0 30px;
}
.triangle_container > .wrap > .crop > a {
	position: absolute;
	width: 200%;
	height: 200%;
	top: -73%;
	left: -50%;
	transform: skew(-10deg,-10deg) rotate(-45deg) ;
}
.triangle_container > .wrap > .crop > .image > img {
	width: 400px;
}
@media only screen and (max-width: 820px) {
	.triangle_container > .wrap {
		padding-left: calc(28vw - 110px);
	}
}
@media only screen and (max-width: 525px) {
	.triangle_container > .wrap {
		padding-left: 20vw;
	}
	.triangle_container > .wrap > .crop > .image > img {
		max-width: calc(150vw - 80px);
		max-height: calc(150vw - 80px);
	}
}

/* POPUP */
/* overlay for popup */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #0E0E0E;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}

/* close button */
.popup > .close {
	text-decoration: unset;
	font-size: 80px;
	font-weight: 100;
	color: white;
	float: right;
	margin-top: -25px;
	margin-right: 10px;
}

/* popup content */
.popup {
	height: 100%;
	margin: auto;
	width: 70%;
}
.popup_content {
	background-color: #1594A2;
	min-height: 100%;
	text-align: center;
	padding-top: 5vw;
}
.popup_content > img {
	margin: auto;
	width: calc(100% - 10vw);
	margin-left: 5vw;
	margin-right: 5vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popup_content > .title {
	margin-left: 5vw;
	margin-bottom: 5vw;
	color: white;
	font-size: 30px;
}
@media only screen and (max-width: 768px) {
	.popup {
		width: 80%;
	}
}
@media only screen and (max-width: 525px) {
	.popup {
		width: 100%;
	}
}
